<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>A list of all login attempts:</h2>
    <ul>
        <% auditList.forEach(attempt => { %>
      <li><%= attempt.username %> - <%= attempt.success ? 'Success' : 'Failure' %> at <%= attempt.attempt_time %></li>
    <% }) %>
    </ul>
  </body>
</html>